<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducateIt</title>
</head>

<body>

    <h1 id="caption">EducateIt</h1>

    <form id="main" method="POST" hyi enctype="multipart/form-data">

        <label for="efiles">Put files</label>
	<input type="file" id="efiles" name="efiles" multiple required>

	<div id="plantname">
		<br><br>

		<label for="plantnlabel">Plant name</label>
		<input type="text" id="plantnlabel" name="name" placeholder="Plant name">
	</div>
        <br><br>

        <button type="submit" id="ebutton">Upload</button>
    </form>

    <p id="message"></p>
    <button type="button" id="img">Click</button>

    <script>

        const descptext = document.getElementById("caption")
        const efiles = document.getElementById("efiles")
        const plantname = document.getElementById("plantname")
        const plantnlabel = document.getElementById("plantnlabel")
	    const message = document.getElementById("message");
        const img = document.getElementById("img");

	let imgclick = false;

	img.onclick = function(){
		if(imgclick){
			descptext.innerText = "Educate It";
			imgclick = false;
			plantname.style.display = "block";
		} 

		else
		{
			imgclick = true;
			descptext.innerText = "Predict It";
			plantname.style.display = "none";
		}
		
	};


        document.getElementById("main").addEventListener("submit", async (event) => {
            event.preventDefault();

            const form = new FormData(event.target);

		const fetchlink = imgclick ? "predictit" : "educateit";

            try {

		    const response = await fetch(`/${fetchlink}`, {
                    method: "POST",
                    body: form
                });
		const data = await response.json();
		if (!response.ok) {
		    throw new Error(data.msg || "Upload failed");
		}
		    
		    if (imgclick) {
			    const myimg = document.createElement("img");
			    const br = document.createElement("br");
			    const br3 = document.createElement("br");
			    myimg.width = 100;
			    myimg.height = 100;
			    myimg.src = URL.createObjectURL(efiles.files[0]);
			    document.body.appendChild(br3);
			    document.body.appendChild(br);
			    document.body.appendChild(myimg);

		    }
		    img.style.display = "none";
		    message.textContent = data.msg;
		    message.style.color = "green";


		    setTimeout(() => {
			    window.location.reload(); 
		    }, 3000);


	    } 
		catch (error) {
			console.error(error);

			message.textContent = error.message;
			message.style.color = "red";

		}         });


    </script>

</body>
</html>

    
</body>
</html>

